<div class="bar-bottom fixed-bottom">
<div class="container-fluid">
<div class="row">


	<div class="col-8 col-md-6 col-lg-5">

		<div class="bar-bottom-l">
			<a href="tel:+74956462566" class="bar-bottom-l__phone">+7 495 <strong>646-25-66</strong></a>
			<button class="bar-bottom-l__call" title="Заказать звонок" data-toggle="modal" data-target="#modal_call"><i class="fas fa-phone-volume"></i></button>
			<div class="bar-bottom-l__socicons">
				<a href="#" title="Whatsapp"><i class="fab fa-whatsapp"></i></a>
				<a href="#" title="Viber"><i class="fab fa-viber"></i></a>
				<a href="#" title="Telegram"><i class="fab fa-telegram"></i></a>
			</div>
		</div>

	</div>


	<div class="col-4 col-md-6 col-lg-7">

		<div class="bar-bottom-r">
			<a href="#" class="bar-bottom-r__watched" title="Вы смотрели"><i class="far fa-eye"></i><span>Вы смотрели</span></a>
			<a href="#" class="bar-bottom-r__fav" title="Избранное"><i class="far fa-star"></i><span>Избранное</span><strong class="val">6</strong></a>
			<a href="#" class="bar-bottom-r__compare" title="Сравнение"><i class="far fa-balance-scale"></i><span>Сравнение</span><strong class="val">2</strong></a>
			<a href="#" class="bar-bottom-r__cart" title="Корзина: 2 шт. 120 300 ₽"><i class="far fa-shopping-cart"></i><span>2 шт. 120 300 ₽</span></a>
		</div>

	</div>


</div>
</div>
</div>
