<div class="modal" id="id_cataloguemenu" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">


			<div class="cataloguemenu-catalogue">

				<div class="modal-header">
					<div class="container-fluid">Каталог товаров</div>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">

							<div class="col-md-4 col-sm-6">
								<ul>
									<li class="catalogue__hdr"><img src="img/i-m01.png" alt=""><a href="#">Душевые кабины и ограждения</a></li>
									<li class="catalogue__item"><a href="#">Душевые уголки</a></li>
									<li class="catalogue__item"><a href="#">Душевые перегородки</a></li>
									<li class="catalogue__item"><a href="#">Двери в душевую нишу</a></li>
									<li class="catalogue__item"><a href="#">Шторки на ванну</a></li>
								</ul>
								<ul>
									<li class="catalogue__hdr"><img src="img/i-m13.png" alt=""><a href="#">Писсуары и комплектующие</a></li>
									<li class="catalogue__item"><a href="#">ерегородки для писсуара</a></li>
								</ul>
								<ul>
									<li class="catalogue__hdr"><img src="img/i-m05.png" alt=""><a href="#">Поддоны для душа, трапы и сифоны</a></li>
									<li class="catalogue__item"><a href="#">Поддоны для душа</a></li>
									<li class="catalogue__item"><a href="#">Сифоны для душевого поддона</a></li>
								</ul>
								<ul>
									<li class="catalogue__hdr"><img src="img/i-m12.png" alt=""><a href="#">Межкомнатные перегородки</a></li>
									<li class="catalogue__item"><a href="#">Раздвижные межкомнатные перегородки</a></li>
								</ul>
								<ul>
									<li class="catalogue__hdr"><img src="img/i-m06.png" alt=""><a href="#">Двери для сауны</a></li>
									<li class="catalogue__item"><a href="#">Дверь в сауну</a></li>
								</ul>
							</div>

							<div class="col-md-4 col-sm-6">
								<ul>
									<li class="catalogue__hdr"><img src="img/i-m02.png" alt=""><a href="#">Душевые стойки, лейки и смесители</a></li>
									<li class="catalogue__item"><a href="#">Душевые стойки</a></li>
								</ul>
								<ul>
									<li class="catalogue__hdr"><img src="img/i-m03.png" alt=""><a href="#">Ванны</a></li>
									<li class="catalogue__item"><a href="#">Ванны из искусственного камня</a></li>
									<li class="catalogue__item"><a href="#">Акриловые ванны</a></li>
									<li class="catalogue__item"><a href="#">Чугунные ванны</a></li>
								</ul>
								<ul>
									<li class="catalogue__hdr"><img src="img/i-m04.png" alt=""><a href="#">Инсталляции для унитазов</a></li>
									<li class="catalogue__item"><a href="#">Комплект для установки</a></li>
									<li class="catalogue__item"><a href="#">Дополнительные опции</a></li>
								</ul>
								<ul>
									<li class="catalogue__hdr"><img src="img/i-m08.png" alt=""><a href="#">Фурнитура и комплектующие для душевых ограждений</a></li>
									<li class="catalogue__item"><a href="#">Защитные уголки</a></li>
									<li class="catalogue__item"><a href="#">Петли</a></li>
									<li class="catalogue__item"><a href="#">Профиль</a></li>
									<li class="catalogue__item"><a href="#">Ролики</a></li>
									<li class="catalogue__item"><a href="#">Ручки</a></li>
									<li class="catalogue__item"><a href="#">Стабилизаторы</a></li>
									<li class="catalogue__item"><a href="#">Стекла</a></li>
									<li class="catalogue__item"><a href="#">Уплотнители PVC</a></li>
								</ul>
							</div>

							<div class="col-md-4 col-sm-6">
								<ul>
									<li class="catalogue__hdr"><img src="img/i-m09.png" alt=""><a href="#">Изделия по индивидуальным размерам</a></li>
									<li class="catalogue__item"><a href="#">Душевые уголки по индивидуальным размерам</a></li>
									<li class="catalogue__item"><a href="#">Двери в душевую нишу по индивидуальным размерам</a></li>
									<li class="catalogue__item"><a href="#">Душевые перегородки по индивидуальным размерам</a></li>
									<li class="catalogue__item"><a href="#">Стеклянные шторки на ванну по индивидуальным размерам</a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>

			</div>


			<form class="cataloguemenu-fm_search">
				<input type="search" class="form-control fld_search" placeholder="Поиск по каталогу товаров">
			</form>


			<div class="cataloguemenu-info">
				<a href="#" class="info__region" data-toggle="modal" data-target="#modal_region"><i class="fas fa-map-marker-alt"></i>Санкт-Петербург</a>
				<div class="info__worktime">Время работы: <span>пн–пт, с 10:00 до 19:00</span></div>
				<a href="tel:+74956462566" class="info__phone" title="Позвонить">+7 495 <span>646-25-66</span></a>
			</div>


			<div class="cataloguemenu-mainmenu">
				<ul>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Оплата</a></li>
					<li><a href="#">Как купить</a></li>
					<li><a href="#">Доставка</a></li>
					<li><a href="#">Гарантия и возврат</a></li>
					<li><a href="#">Сервис</a></li>
					<li><a href="#">Контакты</a>
				</ul>
			</div>

			<div class="cataloguemenu-cabcart">
				<ul>
					<li><a href="#"><i class="fas fa-user"></i>Личный кабинет</a></li>
					<li><a href="#"><i class="far fa-shopping-cart"></i>Корзина</a></li>
				</ul>
			</div>


		</div>
	</div>
</div>