<footer class="footer">
<div class="container-fluid">
	<div class="row">


		<div class="col-md-6 col-lg-3 order-1 order-md-1 order-lg-1">

			<a href="#" class="footer-region" data-toggle="modal" data-target="#modal_region"><i class="fas fa-map-marker-alt"></i>Санкт-Петербург</a>

			<ul class="footer-menu">
				<li><a href="#">О нас</a></li>
				<li><a href="#">Как купить</a></li>
				<li><a href="#">Оплата</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Гарантия и возврат</a></li>
				<li><a href="#">Сервис</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>

		</div>


		<div class="col-md-6 col-lg-3 order-2 order-md-2 order-lg-2">

			<ul class="footer-menu">
				<li class="hdr">Каталог</li>
				<li><a href="#">Душевые кабины и ограждения</a></li>
				<li><a href="#">Душевые системы</a></li>
				<li><a href="#">Ванны акриловые</a></li>
				<li><a href="#">Инсталляции для унитазов</a></li>
				<li><a href="#">Поддоны для душа</a></li>
				<li><a href="#">Двери для сауны</a></li>
				<li><a href="#">Нестандартные решения</a></li>
				<li><a href="#">Уплотнители</a></li>
				<li><a href="#">Изделия по индивидуальным размерам</a></li>
			</ul>

		</div>


		<div class="col-md-6 col-lg-3 order-3 order-md-4 order-lg-3">

			<form class="footer-fm_searchcode">
				<input type="search" class="form-control fld_search" placeholder="Поиск по коду товара">
			</form>

			<ul class="footer-menu">
				<li class="hdr"> </li>
				<li><a href="#">Новинки</a></li>
				<li><a href="#">Распродажа</a></li>
				<li><a href="#">Уцененные товары</a></li>
				<li><a href="#">Портфолио</a></li>
			</ul>

		</div>


		<div class="col-md-6 col-lg-3 order-4 order-md-3 order-lg-4">
			
			<a href="https://www.alati.ru/" class="footer-logo"><img src="img/logo-m.svg" width="135" height="37" alt="Alati.ru"></a>

			<div class="footer-copy">
				© 2012—2020 Alati.ru<br>
				Интернет-магазин душевых кабин.<br>
				Все права защищены.
			</div>

			<div class="footer-contact">
				<a href="mailto:info@alati.ru" class="footer-email">info@alati.ru</a>
				<a href="tel:+74956462566" class="footer-phone">+7 495 646-25-66</a>
			</div>

			<div class="footer-soc">
				<a href="#" class="soc__watsapp"><i class="fab fa-whatsapp"></i></a>
				<a href="#" class="soc__telegram"><i class="fab fa-telegram"></i></a>
				<a href="#" class="soc__viber"><i class="fab fa-viber"></i></a>
			</div>

			<a href="https://www.promoting.ru/" class="footer-promoting"><img src="img/promoting.svg" width="145" height="39" alt="Сделанов Промотинг"></a>

		</div>


	</div>
</div>
</footer>