<header class="header sticky-top">
<div class="container-fluid">


  <div class="row hidden-md-down">

    <div class="col-lg-3 col-xl-3">&nbsp;</div>

    <div class="col-lg-5 col-xl-6">
      <div class="header-delivery">Доставка <span>по всем регионам России</span></div>
      <a href="#" class="header-region" data-toggle="modal" data-target="#modal_region"><i class="fas fa-map-marker-alt"></i>Санкт-Петербург</a>
      <a href="#" class="header-cabinet"><i class="fas fa-user"></i>Личный кабинет</a>
    </div>

    <div class="col-lg-4 col-xl-3">
      <div class="header-worktime">Время работы: <span>пн–пт, с 10:00 до 19:00</span></div>
    </div>

  </div>


  <div class="row header-plate">

    <div class="col-7 col-sm-6 col-lg-3 header-plate_logo">
      <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#id_cataloguemenu" aria-controls="id_cataloguemenu" aria-expanded="false" aria-label="Главное меню"><i class="far fa-bars"></i></button>
      <button class="header-btn_search" data-toggle="collapse" data-target="#id_md_search" aria-expanded="false" aria-controls="id_md_search" title="Поиск"><i class="far fa-search"></i></button>
      <a href="https://www.alati.ru/"><img src="img/logo.svg" alt="Alati"></a>
    </div>

    <div class="col-lg-6 header-plate_nav">
      //= _nav-lg.html
    </div>

    <div class="col-5 col-sm-6 col-lg-3 header-plate_phone">
      <a href="tel:+74956462566" class="header-phone" title="Позвонить">+7 495 <span>646-25-66</span></a>
      <button class="header-btn_call" title="Заказать звонок" data-toggle="modal" data-target="#modal_call"><i class="fas fa-phone-volume"></i></button>
      <button class="header-btn_cart" title="Корзина"><i class="far fa-shopping-cart"></i></button>
    </div>

  </div>


  <div class="collapse header-md_search" id="id_md_search">
    <form>
      <div class="collapse-header-search">
        <input type="search" class="form-control" placeholder="Поиск">
        <input type="submit" title="Найти" value="">
      </div>
      <div class="search__radios">
        <input type="radio" name="collapse-header__radio" id="collapse-header__radio_all" autocomplete="off" title="Поиск по всему сайту">
        <label for="collapse-header__radio_all" title="Поиск по всему сайту">везде</label>
        <input type="radio" name="collapse-header__radio" id="collapse-header__radio_catalog" autocomplete="off" title="Поиск только в каталоге" checked>
        <label for="collapse-header__radio_catalog" title="Поиск только в каталоге">в каталоге</label>
      </div>
    </form>
  </div>


  <div class="row header-row_tool hidden-md-down">

    <div class="col-lg-3 col-xl-3">
      <button class="header-btn_catalog" data-toggle="modal" data-target="#id_cataloguemenu" aria-controls="id_cataloguemenu" aria-expanded="false" aria-label="Каталог"><img src="img/i-catalogue.svg" alt="">Каталог</button>
    </div>

    <div class="col-lg-5 col-xl-6">
      <form class="header-fm_search">
        <input type="search" class="form-control fld_search" placeholder="Поиск">
        <input type="submit" title="Найти" value="">
        <div class="search__radios">
          <input type="radio" name="header-fm__radio" id="header-fm__radio_all" autocomplete="off" title="Поиск по всему сайту">
          <label for="header-fm__radio_all" title="Поиск по всему сайту">везде</label>
          <input type="radio" name="header-fm__radio" id="header-fm__radio_catalog" autocomplete="off" title="Поиск только в каталоге" checked>
          <label for="header-fm__radio_catalog" title="Поиск только в каталоге">в каталоге</label>
        </div>
      </form>
    </div>

    <div class="col-lg-4 col-xl-3">
      <div class="header-cart">
        2 шт.  <span class="cart__price">120 300 ₽</span>
        <a href="#" class="header-btn_tocart"><i class="far fa-shopping-cart"></i><span>Корзина</span></a>
      </div>
    </div>

  </div>


</div>
</header>



<div class="headersticky sticky-top hidden-md-down">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-2 headersticky-plate_logo">
        <a href="https://www.alati.ru/"><img src="img/logo.svg" alt="Alati"></a>
      </div>

      <div class="col-lg-1">
        <button class="headersticky-btn_catalog" data-toggle="modal" data-target="#id_cataloguemenu" aria-controls="id_cataloguemenu" aria-expanded="false" aria-label="Каталог" title="Каталог"><img src="img/i-catalogue.svg" alt="Каталог"></button>
      </div>

      <div class="col-lg-3">
        <form class="headersticky-fm_search">
          <input type="search" class="form-control fld_search" placeholder="Поиск по каталогу товаров">
          <input type="submit" title="Найти" value="">
        </form>
      </div>

      <div class="col-lg-3 headersticky-plate_phone">
        <a href="tel:+74956462566" class="headersticky-phone" title="Позвонить">+7 495 <span>646-25-66</span></a>
        <button class="headersticky-btn_call" title="Заказать звонок" data-toggle="modal" data-target="#modal_call"><i class="fas fa-phone-volume"></i></button>
      </div>

      <div class="col-lg-3">
        <div class="headersticky-cart">
          2 шт.  <span class="cart__price">120 300 ₽</span>
          <a href="#" class="headersticky-btn_tocart" title="Корзина"><i class="far fa-shopping-cart"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>